<div class="container">
    <div class="ui card">
        <h1>Team Generator</h1>
        <ul class="container-list">
            <li *ngFor="let member of members">{{member}}</li>
        </ul>
        <div class="container-add-members">
            <input #addMemberInput type="text" [value]="newMemberName" placeholder="name" (input)="onInput(addMemberInput.value)">
            <button (click)="addNewMember()">Add</button>
        </div>
        <div class="container-input">
            <input #numberOfTeamsInput (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)" type="number" placeholder="# of teams" [value]="numberOfTeams">
            <button (click)="generateTeams()">Generate</button>
        </div>
        <p *ngIf="errorMessage" class="errorMessage">{{errorMessage}}</p>
    </div>
    <div *ngIf="teams.length" class="container-teams">
        <div *ngFor="let team of teams; let i=index" class="container-team">
            <h3>Team {{i+1}}</h3>
            <ul>
                <li *ngFor="let member of team">{{member}}</li>
            </ul>
        </div>
    </div>
</div>