<div class="container">
    <div class="ui card">
        <h1>Team Generator</h1>
        <ul class="container-list">
            <li>Alice</li>
            <li>Helen</li>
            <li>Steve</li>
        </ul>
        <div class="container-add-members">
            <input type="text" placeholder="name">
            <button>Add</button>
        </div>
        <div class="container-input">
            <input type="text" placeholder="# of teams">
            <button>Generate</button>
        </div>
    </div>
</div>